<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11722392050-tmppjclkqlgenenvg337ridoo83lvu0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11722392050-tmppjclkqlgenenvg337ridoo83lvu0j</string>
	<key>API_KEY</key>
	<string>AIzaSyAp0VDyuHFnUKJj6OsLhXGPy54OUxA4cb4</string>
	<key>GCM_SENDER_ID</key>
	<string>11722392050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyQuest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dailyquest-7272a</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyquest-7272a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11722392050:ios:aed2f9791d80806e04eb6b</string>
</dict>
</plist>